altair==5.5.0
branca==0.8.1
folium==0.19.6
geographiclib==2.0
geopy==2.4.1
gitpython==3.1.43
narwhals==1.31.0
numpy==2.0.1
pandas==2.2.3
pillow==11.1.0
protobuf==5.29.3
pyarrow==19.0.0
pydeck==0.9.1
requests==2.32.3
streamlit==1.45.1
streamlit-folium==0.25.0
streamlit-scroll-to-top==0.0.4
tenacity==9.0.0
toml==0.10.2
watchdog==4.0.2
xyzservices==2025.4.0